body {
    color: #fff;
    background-color: #333;
}
.panel {
    border: 1px solid #444;
    background-color: #222;
}
table th {
    background-color: #555;
}
table td {
    background-color: #444;
}
.toggle-savedsearch {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #666;
    color: #fff;
    cursor: pointer;
    border: none;
}
.toggle-savedsearch:hover {
    background-color: #777;
}
