/* feature_toggle.css */
.dashboard .form-horizontal .control-label {
    text-align: left;
}

#update-toggle-button {
    margin-top: 10px;
    transition: transform 0.3s ease;
}

#update-toggle-button.clicked {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
